.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 1%;
    width: 80%;
    font-size: 1.2em;
    background-color: #26598a;
   position: relative;
   
   overflow: scroll;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1051c2;
    padding: 10px;
    display: inline-block;
    border: none;
    width: 13%;
    height: 45px;
    position: relative;
    border-radius: 10px;
    left: 40px;
 
    cursor: pointer;
  }